
/* PC */
@media (min-width:64em){

}

/* Tablet and Mobile */
@media (max-width:63.9375em){
    .btn{
        padding: 15px 16px;
    }

    .contact-form .form-control{
        padding: 15px;

    }

    .contact-content .form-control{
        font-size: 16px;
    }

    .contact-info{
        line-height: 2.0;
    }

    footer .socials-list{
        font-size: 48px;
    }

    footer .socials-list a {
        margin: 0 8px;
    }

    footer .copyright a{
        padding: 12px 0;
        display: inline-block;
    }

    #nav .subnav a{
        padding: 6px 12px;
    }

    .contact-fonts{
        font-size: 16px;
    }
}

/* Tablet */
@media (min-width:46.25em) and (max-width:63.9375em) {

}

/* Mobile */
@media (max-width:739px){

    .full-width{
        width: 100% !important;
    }

    .s-col-full{
        width: 100% !important;
    }

    #header{
        overflow: hidden;
    }

    #nav{
        display: block;
    }

    #nav>li{
        display: block;
    }

    #nav>li:first-child{
        display: inline-block;
    }

    #nav .subnav{
        position: initial;
        background: #333;
    }

    #nav .subnav a{
        color: #fff;
        padding: 6px 40px;
    }



    #header .search-btn {
        display: none;
    }

    #header .mobile-menu-btn{
        display: block;
    }

    #slider .text-content{
        display: none;
    }

    .col-third{
        width: 100%;
    }

    #content .member-list{
        margin-top: 32px;
    }

    #content .member-avatar{
        width: auto;
    }

    #tour .block-tour{
        padding-bottom: 15px;
    }

    button.btn.js-but-ticket {
        width: 100%;
    }

    #contact .control-name{
        padding-bottom: 8px;
        margin-top: 20px;
    }

}